/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #a989de;
    line-height: 1.6;
    margin: 20px;
}

header {
    background-color: #6086d3;
    color: #534f4c;
    border: solid black 4px;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header p {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
}

section {
    background-color: #fff;
    border: solid black 4px;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#even {
    text-align: right;
}

#odd {
    text-align: left;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    background-color: rgb(101, 153, 177);;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #7e7c7c;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

img{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    header p {
        font-size: 16px;
    }

    section {
        padding: 10px;
    }

    h2 {
        font-size: 20px;
    }
}
